*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  background:linear-gradient(180.71516676168312deg, rgba(255, 212, 148,1) 19.528254288597378%,rgba(255, 212, 148,1) 37.33802135889674%,rgba(214, 97, 250,1) 92.28304742684156%)
}
body{
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}
ul{
  list-style: none;
}
input:focus{
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(139, 0, 139, 0.6);
}



#container{
  margin: 100px auto;
  width: 800px;
  background:#fff;
  border-radius: 16px;
  padding: 48px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
}
h1{
  color: darkorange;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 32px;
  font-size: 40px;
}
h1 i{
  display: inline-block;
  padding: 0 16px;
}
.todos__list{
  margin-bottom: 64px;
}
.todos__item{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px dotted #ccc
}
.todos__item input[type=checkbox]{
  display: block;
  padding: 0 4px;
  margin-right: 8px;
}
.todos__ttl{
  font-size: 18px;
  width: 70%;
}
.todos__date{
  font-size: 14px;
  color: #ccc;
  margin-right: 16px;
}
.no-task-ttl{
  font-weight: bold;
  color: #ccc;
  font-size: 24px;
  text-align: center;
}
form{
  display: flex;
}
input[type=text]{
  width: calc(100% - 224px);
  margin-right: 24px;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  background: #efefef;
}
button{
  outline: none;
  border: none;
  display: inline-block;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  border-radius: 4px;
}
.add-btn{
  width: 200px;
  padding: 16px 10px;
  background: darkmagenta;
  font-size: 18px;
}
.edit-btn{
  background: tomato;
}
.del-btn{ 
  width: 100px;
  background: darkorange;
  padding: 8px 10px;
}
i{
  padding: 0 4px;
}